<lift:surround with="default" at="content">
    <div class="lift:comet?type:Chat">
        Some chat messages
        <ul>
            <li>A message</li>
            <li class="clearable">Another message</li>
            <li class="clearable">A third message</li>
        </ul>
    </div>
    <div>
        <form class="lift:form.ajax">
            <input class="lift:ChatIn" id="chat_in"/>
            <input type="submit" value="Say Something"/>
        </form>
    </div>
</lift:surround>

